.container {
  height: 100svh;
  display: flex;
  align-items: stretch;
}

/* -------------------------- CHATBOX ------------------------ */
.container>.chatbox {
  /* box-shadow: 0 0 8px #ccc; */
  border-right: 1px solid #ccc;
  /* border-radius: 10px; */
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container>.chatbox>.title {
  box-shadow: 0 2px 6px #ddd;
  padding-block: 16px;
}

.container>.chatbox>.title>p {
  text-align: center;
}

.container>.chatbox>.chatarea {
  flex: 1;
  overflow-y: auto;
}

.container>.chatbox>.chatarea .chats-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.container>.chatbox>.chatarea .message {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  max-width: 75%;
  width: fit-content;
  color: #222;
}

.container>.chatbox>.chatarea .message.sent {
  margin-left: auto;
}

.container>.chatbox>.chatarea .message.recieved {
  margin-right: auto;
}

.container>.chatbox>.chatarea .message.recieved ol,
.container>.chatbox>.chatarea .message.recieved ul {
  padding-left: 1.5rem;
  /* control bullet indentation */
  margin: 0.5rem 0;
  box-sizing: border-box;
}

.container>.chatbox>.chatarea .message.recieved p,
.container>.chatbox>.chatarea .message.recieved li {
  word-break: break-word;
}

.container>.chatbox>.chatarea .message.recieved hr {
  margin-block: 8px;
}

.container>.chatbox>.chatinput {
  box-shadow: 0 -2px 6px #ddd;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container>.chatbox>.chatinput>.chat-input-box {
  flex: 1;
  border: none;
  border-radius: 10px;
  padding: 8px;
  field-sizing: content;
  resize: none;
  min-height: 1lh;
  max-height: 10lh;
}

.container>.chatbox>.chatinput>.chat-input-box:focus,
.container>.chatbox>.chatinput>.chat-input-box:active {
  outline: none;
}

.container>.chatbox>.chatinput>.button-container {
  /* box-shadow: 0 -2px 6px #ddd; */
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
  padding: 8px;
}

.container>.chatbox>.chatinput>.button-container>button {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.container>.chatbox>.chatinput>.button-container>button:active {
  outline: 1px solid #ccc
}

/* -------------------------- OUTPUTS-CONTAINER ------------------------ */
.container>.output-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container>.output-container>* {
  flex-basis: 33.33%;
  position: relative;
  min-height: 0;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container>.output-container>*:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
}

.container>.output-container>*>label {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 12px;
  color: #848484;
}

.container>.output-container .loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ccc;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container>.output-container .error {
  color: red;
  font-size: 14px;
}

.container>.output-container .simplebar-placeholder {
  display: none;
}